/* Instead, 1rem = 1em = 16px  */
/* DESKTOP Devices */

/* Below 1286 */
@media (max-width: 80em) {
  .hero-text {
    margin-left: 7rem;
  }
  .products {
    gap: 4rem;
    margin-left: 6.4rem;
    max-width: 54rem;
  }
  .product-img {
    width: 20rem;
    height: 24rem;
  }
  .left-button {
    margin-left: 5rem;
    margin-top: 11rem;
  }

  .right-button {
    margin-left: 53rem;
    margin-top: 11rem;
  }
}

/* Below 1024 */
@media (max-width: 65em) {
  .hero-text {
    margin-bottom: 0;
  }
  .hero-img {
    max-width: 512px;
  }
  .products {
    gap: 2rem;
    margin-left: 4.2rem;
    margin-top: 2rem;
    max-width: 45rem;
  }

  .product-img {
    width: 18rem;
    height: 20rem;
  }
  button {
    padding: 0.4rem;
  }
  .left-button {
    margin-left: 3rem;
    margin-top: 11rem;
  }

  .right-button {
    margin-left: 43rem;
    margin-top: 11rem;
  }
}

/* Below 992px */
@media (max-width: 62em) {
  .hero-title {
    font-size: 2.6rem;
  }
  .hero-info {
    max-width: 36rem;
  }
  .hero-text {
    margin-left: 5rem;
    margin-right: 0rem;
  }
  .shop-text {
    padding-bottom: 0.4rem;
  }
  .products {
    max-width: 45rem;
  }
}

/* Below 768px */
@media (max-width: 48em) {
  .hero-text {
    margin-left: 0;
    margin-right: 0;
    max-width: 35rem;
    padding-right: 9.4rem;
  }
  .hero-title {
    font-size: 1.4em;
    margin-bottom: 1rem;
  }
  .hero-info {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .shop-text {
    font-size: 1.2rem;
    line-height: 0;
    border-bottom: 1px solid #000;
  }
  .products {
    max-width: 35rem;
    margin-top: 1rem;
  }
  .product-img {
    width: 136px;
    height: 140px;
  }
  .left-button {
    margin-left: 3rem;
    margin-top: 6.4rem;
  }
  .right-button {
    margin-left: 34rem;
    margin-top: 6.4rem;
  }
}

/* Below 512px for Phones*/
@media (max-width: 32em) {
  html {
    overflow: hidden;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }
  .hero-img {
    width: 100%;
    height: 60vh;
  }
  .right {
    display: block;
  }

  button {
    display: none;
  }

  .hero-text {
    color: #fff;
    padding-right: 0;
    margin-top: -24rem;
    margin-left: 3.2rem;
    margin-bottom: 9.2rem;
  }

  .hero-title {
    font-size: 2.4rem;
    line-height: 130%;
    padding-bottom: 2.8rem;
  }

  .shop-text {
    font-size: 1.8rem;
    border-bottom: 1px solid #fff;
    padding-bottom: 1.4rem;
  }
  .hero-info {
    display: none;
  }

  .products {
    max-width: 470px;

    height: 750px;
    padding-left: 0.5rem;
    overflow-x: scroll;
    margin-left: 3rem;
    gap: 1.5rem;
    margin-top: -4.2rem;
  }
  .product-price-colors {
    display: flex;
    flex-direction: column;
  }

  .product-title {
    display: none;
  }
  .product-price {
    font-weight: 500;
  }
  .mobile-product-title {
    display: inline-block;
    max-width: 100px;
    font-weight: 400;
    line-height: 160%;
  }
  .product-img {
    width: 200px;
    height: 250px;
  }
  button {
    display: hidden;
  }
}

/* BELOW 432px */
@media (max-width: 27em) {
  .products {
    max-width: 390px;
  }
  .product-img {
    width: 164px;
    height: 200px;
  }
}

/* BELOW 384PX */
@media (max-width: 25em) {
  .hero-title {
    padding-bottom: 2rem;
  }
  .hero-text {
    margin-top: -21.8rem;
    margin-left: 2.6rem;
  }
  .products {
    max-width: 350px;
  }
  .product-img {
    width: 144px;
    height: 150px;
  }
}

@media (max-width: 21em) {
  .hero-text {
    margin-top: -14.8rem;
    margin-left: 2.4rem;
  }
  .hero-title {
    font-size: 1.8rem;
    padding-bottom: 0;
  }
  .shop-text {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }
  .products {
    max-width: 290px;
    margin-top: -5rem;
    margin-left: 1rem;
  }
  .product-img {
    width: 100px;
    height: 120px;
  }
}
